<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice</title>
    <style>
        body{
            background: #000 center/cover url("../imgs/new.png") no-repeat;
            background-color: antiquewhite;
            max-width: 80%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>Express js </h1>
    <form action="/posts/save" method="POST" enctype="multipart/form-data">
        <label for="name">Please enter your name</label>
        <input type="text" name="name" id="name"><br>
        <label for="image"></label>
        <input type="file" name="image" id="image"><br>
        <hr>
        <input type="submit" value="Send file">
    </form>
   
    
</body>
</html>